<section style="height: 450px;">
    <div class="container h-100 mt-5">
        <div class="row align-items-center h-100">
            <div class="col-md-5">
                <span class="text-uppercase small">human or robot?</span>
                <h2>About App</h2>
                <p>Ow!, your are interested in my app, but, are you developer? or customer? this questions are to provide correct information, don't panic </p>
            </div>
            <div class="col-md-7 text-center text-uppercase small">
                <p>Code to humans</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-5">
                <span class="text-start text-uppercase small">Do you use the app?</span>
                <h3>To humans</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa corporis velit omnis ea, veritatis recusandae delectus, molestiae reprehenderit ab sed nostrum quis deleniti, doloremque veniam minus vero quae reiciendis eum.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-5">
                <span class="text-start text-uppercase small">are you a contributor?</span>
                <h3>To developers</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora vero minus iste possimus asperiores molestiae eius doloribus nam non fugiat quae dignissimos, sed accusantium dolorem quam omnis, nobis ipsum unde.</p>
            </div>
        </div>
    </div>
</section>