<ng-template ngFor let-section [ngForOf]="dataSection" let-i="index">
    <ng-template [ngIf]="section.id == 1" [ngIfElse]="noneSectionMain">
        <section style="height: 550px;">
            <div class="container h-100 mt-5">
                <div class="row align-items-center h-100">
                    <div class="col-md-5">
                        <span class="text-uppercase small">{{ section.subtitle }}</span>
                        <h2>{{ section.title }}</h2>
                        <p>{{ section.description }} </p>
                        <a class="btn btn-primary" 
                            *ngIf="section.button.status">
                            {{ section.button.text }}
                        </a>
                    </div>
                    <div class="col-md-7 text-center text-uppercase small" 
                        *ngIf="section.button.status">
                        <p>{{ section.button.text }}</p>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template #noneSectionMain>
        <section>
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-5">
                        <span class="text-start text-uppercase small">{{ section.subtitle }}</span>
                        <h3>{{ section.title }}</h3>
                        <p>{{ section.description }}</p>
                        <a class="btn btn-primary" 
                            *ngIf="section.button.status">
                            {{ section.button.text }}
                        </a>
                    </div>
                </div>
        
                <div class="row py-5"
                    *ngIf="section.items">
                    <div class="col-md-4"
                        *ngFor="let item of section.items">
                        <div class="card" style="height: 150px;">
                            <div class="card-body">
                                <h4>
                                    <i class="{{ item.icon }}"></i>
                                </h4>
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>
</ng-template>