<ng-template ngFor let-section [ngForOf]="dataSection" let-i="index">
    <ng-template [ngIf]="section.id == 1" [ngIfElse]="noneSectionMain">
        <section class="vh-100">
            <div class="row justify-content-center align-items-center h-100 w-100">
                <div class="col-5 text-center">
                    <span class="text-uppercase small">{{ section.subtitle }}</span>
                    <h1>{{ section.title }}</h1>
                    <p>{{ section.description }}</p>
                    <a class="btn btn-primary" 
                        *ngIf="section.button.status">
                        {{ section.button.text }}
                    </a>
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template #noneSectionMain>
        <section>
            <div class="container py-5">
                <div [ngClass]="{'row justify-content-start text-start': section.id%2 == 0, 'row justify-content-end text-end': section.id%2 != 0}">
                    <div class="col-md-5">
                        <span class="text-uppercase small">{{ section.subtitle }}</span>
                        <h3>{{ section.title }}</h3>
                        <p>{{ section.description }}</p>
                        <a class="btn btn-primary" 
                            *ngIf="section.button.status">
                            {{ section.button.text }}
                        </a>
                    </div>
                </div>
        
                <div class="row text-center py-5" 
                    *ngIf="section.items">
                    <div class="col-md-4" 
                        *ngFor="let item of section.items">
                        <h5>{{ item.title }}</h5>
                        <h4>
                            <i class="{{ item.icon }}"></i>
                        </h4>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>
</ng-template>