<section class="vh-100">
    <div class="row justify-content-center align-items-center h-100 w-100">
        <div class="col-6 text-center">
            <span class="text-uppercase small">our app</span>
            <h1>Minitask</h1>
            <p>Hi, human, I'm Moises Arrona and I'm software engineer, this is my app to save tasks</p>
            <a class="btn btn-primary">
                Go!
            </a>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <div class="row justify-content-start text-start">
            <div class="col-md-5">
                <span class="text-uppercase small">You read</span>
                <h3>Know more...</h3>
                <p>Well, this app was created to register my activities en all day, and know to the progress each task, and sorry my english so bad</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <div class="row justify-content-end text-end">
            <div class="col-md-5">
                <span class="text-uppercase small">You read more</span>
                <h3>More data</h3>
                <p>Human, this app is still under development </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio harum autem maiores! Quam atque, eum corrupti maiores aut accusamus excepturi similique? Vitae, vero! Aliquam at numquam tempora, iure molestias placeat?</p>
            </div>
        </div>
    </div>
</section>