<ng-template ngFor let-section [ngForOf]="dataSection" let-i="index">
    <ng-template [ngIf]="i == 0" [ngIfElse]="noneSectionMain">
        <section style="height: 550px;">
            <div class="container-xl h-100 mt-5">
                <div class="row align-items-center justify-content-between h-100">
                    <div class="col-md-5">
                        <span class="text-uppercase small">{{ section.subtitle }}</span>
                        <h2>{{ section.title }}</h2>
                        <p>{{ section.description }} </p>
                        <a class="btn btn-primary" 
                            *ngIf="section.button.status">
                            {{ section.button.text }}
                        </a>
                    </div>
                    <div class="col-md-4 text-center text-uppercase small" 
                        *ngIf="section.items">
                        <span class="badge rounded-pill bg-dark mx-3 my-2 px-2 py-1"
                            *ngFor="let item of section.items">{{ item.title }}</span>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template #noneSectionMain>
        <section>
            <div class="container-xl py-5">
                <div class="row">
                    <div class="col-md-5">
                        <span class="text-start text-uppercase small">{{ section.subtitle }}</span>
                        <h3>{{ section.title }}</h3>
                        <p>{{ section.description }}</p>
                        <a class="btn btn-primary" 
                            *ngIf="section.button.status">
                            {{ section.button.text }}
                        </a>
                    </div>
                </div>
        
                <div class="row py-4"
                    *ngIf="section.items">
                    <div class="col-md-4 mb-4"
                        *ngFor="let item of section.items">
                        <div class="card" style="height: 150px;">
                            <div class="card-body">
                                <h4>
                                    <i class="{{ item.icon }}"></i>
                                </h4>
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>
</ng-template>