<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">minitask</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngFor="let item of menuData">
                    <a class="nav-link" [routerLink]="item.url" routerLinkActive="active">{{ item.name }}</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link"
                    (click)="changeTheme()">
                    <i class="bi bi-moon-fill" *ngIf="!themeDark"></i>
                    <i class="bi bi-brightness-high-fill" *ngIf="themeDark"></i>
                </a>
                <a class="nav-link" routerLink="/app">
                    APP
                </a>
            </div>
        </div>
    </div>
</nav>