<header class="header">
    <div class="header__search">
        <ul class="header__menu">
            <li class="header__menu--item" 
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Menu">
                <a (click)="openMenu($event)">
                    <i class="bi bi-list"></i>
                </a>
            </li>
        </ul>

        <form>
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Busca en Minitask...">
              </div>
        </form>
    </div>

    <div class="header__options">
        <ul class="header__menu">
            <li class="header__menu--item" 
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ item.name }}"
            *ngFor="let item of headerData; let i = index"
            [ngClass]="{'active': i == headerData.length-1}">
                <a [routerLink]="item.url">
                    <i class="{{ item.icon }}"></i>
                </a>
            </li>
        </ul>
    </div>
</header>