/* You can add global styles to this file, and also import other style files */
.bg-primary.text-white h1,
.bg-primary.text-white h2,
.bg-primary.text-white h3,
.bg-primary.text-white h4,
.bg-primary.text-white h5,
.bg-primary.text-white h6,
.bg-primary.text-white p,
.bg-primary.text-white a,
.bg-primary.text-white .card {
    color: #ffffff !important;
}

.bg-primary.text-white .btn.btn-primary {
    background-color: #343a40 !important;
}

.bg-primary.text-white .card,
.bg-primary.text-white footer.bg-dark,
.bg-primary.text-white .bg-dark {
    background-color: #1a1a1a !important;
}
