/* - - - - -

    R O O T

- - - - - */
:root {
    /* --- colors --- */
    --color-primary: #1a1a1a;
    --color-secondary: #343a40;
    --color-white: #fafafa;
    --color-black: #000;

    --color-succes: #4bbf73;
    --color-danger: #d9534f;
    --color-warning: #ff9d13;
    --color-info: #09aff4;

    --color-primary-rgba: rgb(26, 26, 26, 0.5);
    --color-secondary-rgba: rgb(52, 58, 64, 0.5);
    --color-white-rgba: rgb(250, 250, 250, 0.5);
    --color-black-rgba: rgb(0, 0, 0, 0.5);

    /* --- size --- */
    --size-sidebar: 1.3rem;
    --width-sidebar: 100px;
}


/* - - - - -

    D A R K  M O D E

- - - - - */
.dark-mode {
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode .card,
.dark-mode .header__menu--item a {
    color: var(--color-white) !important;
}

.dark-mode .btn.btn-primary {
    background: var(--color-secondary) !important;
    color: var(--color-white) !important;
}

.dark-mode .card,
.dark-mode .accordion-button,
.dark-mode .accordion-item,
.dark-mode .page-link,
.dark-mode .list-group-item,
.dark-mode .form-control,
.dark-mode .input-group-text,
.dark-mode .alert  {
    background: var(--color-secondary) !important;
    color: var(--color-white) !important;
    border-radius: 0 !important;
}

/* --- toast --- */
.toast,
.toast-header {
    background-color: var(--color-primary) !important;
    border: 1px solid #343a40 !important;
    
}

/* --- alert --- */
.dark-mode .alert-success {
    color: var(--color-succes) !important;
    border-color: var(--color-succes) !important;
}
.dark-mode .alert-danger {
    color: var(--color-danger) !important;
    border-color: var(--color-danger) !important;
}
.dark-mode .alert-warning {
    color: var(--color-warning) !important;
    border-color: var(--color-warning) !important;
}
.dark-mode .alert-info {
    color: var(--color-info) !important;
    border-color: var(--color-info) !important;
}


/* - - - - -

    C U S T O M

 - - - - - */
.card,
.list-group,
.navigation,
.alert,
.active {
    border-radius: 0rem !important;
}


/* - - - - -

    D A S H B O A R D

- - - - - */
.content__central {
    padding: 0rem 2rem;
    width: calc(100% - var(--width-sidebar));
    margin-left: auto;
}

/* - - - sidebar - - - */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: var(--width-sidebar);
    min-width: var(--width-sidebar);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color-primary);
}

.sidebar__overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-black-rgba);
    z-index: 1;
    display: none;
}

.sidebar__logo {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-sidebar);
    color: var(--color-white);
}

.sidebar__menu {
    width: 100%;
    margin-bottom: auto;
    list-style: none;
    padding: 0;    
}

.sidebar__menu--item {
    padding: 1.2rem 0rem 1.2rem 0rem;
    display: flex;
    justify-content: center;
    font-size: var(--size-sidebar);
    cursor: pointer;
}

.sidebar__menu--item a {
    color: rgb(250, 250, 250, 0.4);
    font-size: var(--size-sidebar);
}
.sidebar__menu--item a:hover {
    color: var(--color-white);
}

.sidebar__footer {
    min-height: var(--width-sidebar);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-sidebar);
}

/* - - - header - - - */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem 1.9rem 0rem;
}

.header__search {
    flex: 1;
}
.header__search .header__menu {
    display: none;
}

.header__options {
    flex: 1;
    text-align: end;
}
 
.header__menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__menu--item {
    display: inline-block;
    font-size: 1.15rem;
    cursor: pointer;
    text-align: center;
    padding: 0.85rem 1.25rem;
}

.header__menu--item.active {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.header__menu--item.active a,
.header__menu--item.active a:hover {
    color: var(--color-white);
}


/* - - - - -

    R E S P O N S I V E

- - - - - */
@media (max-width: 750px) {
    .content__central {
        width: 100%;
        padding: 5.8rem 1.4rem;
    }

    .sidebar {
        display: none;
    }
    .sidebar.active {
        display: block;
    }
    .sidebar__overlay.active {
        display: block;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--color-primary);
        color: var(--color-white) !important;
        padding: 0.4rem 0rem;
        z-index: 1;
    }

    .header__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__search .header__menu {
        display: block;
    }
    .header__search .form-control {
        background: var(--color-primary) !important;
        border: 0px !important;
        border-bottom: 1px solid white !important;
        color: var(--color-white) !important;
    }
    .header__search .input-group-text {
        display: none;
    }
    .header__search .header__menu--item a,
    .header__search .header__menu--item a:hover {
        color: var(--color-white);
    }

    .header__options .header__menu--item a, 
    .header__options .header__menu--item a:hover {
        color: var(--color-white);
    }
}