/* You can add global styles to this file, and also import other style files */
/* - - - - -

    D A R K  M O D E

- - - - - */
.dark-mode {
    background-color: #1a1a1a !important;
    color: #fff !important;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode a,
.dark-mode .card {
    color: #ffffff !important;
}

.dark-mode .btn.btn-primary {
    background-color: #343a40 !important;
}

.dark-mode .card {
    background-color: #1a1a1a !important;
}