<footer class="bg-primary">
    <div class="container-xxl pt-5 pb-5">
        <div class="row align-items-end justify-content-between pt-5 pb-4">
            <div class="col-6">
                <div class="row">
                    <div class="col"
                    *ngFor="let item of dataFooter">
                    <p class="text-uppercase text-muted fw-bold small">{{ item.title }}</p>
                    <ul class="list-unstyled">
                        <li class="mb-2" 
                            *ngFor="let child of item.child">
                            <a class="fw-light text-white" href="{{ child.link }}"> {{ child.name }} </a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>

            <div class="col-4 text-end">
                <p class="fst-italic fw-light">Thanks you read and the navigate this page, write and use this app, made with love <i class="bi bi-arrow-through-heart"></i>.</p>
            </div>

            <div class="row justify-content-evenly pt-5">
                <div class="col-6 text-center pt-5">
                    <span class="badge rounded-pill bg-dark mx-3 my-2 px-2 py-1"
                    *ngFor="let item of dataWords">{{ item.title }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 text-center text-uppercase small bg-primary">
        derechos reservados moisesarrona &copy;
    </div>
</footer>