/* - - - - -

    S I D E B A R

- - - - - */
.sidebar {
    position: fixed;
    max-width: 100px;
    min-width: 100px;
    height: 100vh;
    /*min-height: 550px;*/
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--color-primary);
}

.sidebar__logo {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    color: var(--color-white);
}

.sidebar__menu {
    margin-bottom: auto;
    list-style: none;
    padding: 0;
}

.sidebar__menu--item {
    padding: 1.2rem 0rem 1.2rem 0rem;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.sidebar__footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}


/* - - - - -

    H E A D E R

- - - - - */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem 3rem 0rem;
}

.header__search {
    width: 350px;
}

.header__options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__options ul li {
    display: inline-block;
    font-size: 1.15rem;
    cursor: pointer;
    text-align: center;
    padding: 0.85rem 1.25rem;
}

.header__options ul li:last-child {
    background-color: var(--color-primary);
    color: var(--color-white);
}


/* - - - - -

    C O N T E N T S

- - - - - */
.content {
    display: flex;
}

.content__central {
    padding: 0rem 2rem;
    width: calc(100% - 100px);
    margin-left: auto;
}